{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">

            <div class="row">
               <div class="col-sm-12 col-md-12 col-lg-4">
                  <div class="row">
                     <div class="col-12">
                        <div class="teacher-main-info card card-primary card-outline mb-0 bb-radius">
                           <div class="teacher-image">
                              <img src="
                                {% if teacher_data.image != '' %}
                                  {{ teacher_data.image}}
                                  {% elif teacher_data.gender.code == '11' %}
                                      {% static 'dist/img/business-man.png' %}
                                  {% else %}
                                      {% static 'dist/img/woman.png' %}
                                  {% endif %}"
                                 alt="{{ teacher_data.first_name }}" />
                           </div>
                           <div class="teacher-name mt-3">
                              <h3>{{ teacher_data.second_name }}<span> {{ teacher_data.first_name }}</span></h3>
                              <h3>{{ teacher_data.third_name }}</h3>
                              <p>{{ teacher_data.department }}, {{ teacher_data.staffPosition }}<br>{{ teacher_data.employmentForm }}</p>
                           </div>
                        </div>
                     </div>
                     <div class="col-12 mt-3" style="max-width: 100%;">
                        <div class="card card-primary card-outline p-3 bb-radius">
                           <p class="teacher-title pb-2">Akademik ma'lumotnoma</p>
                           <div class="row d-flex align-items-center">
                              <div class="col-6">
                                 <h5 class="teacher-academic-info"><span><img src="{% static 'dist/img/education.png' %}" alt=""></span> Ilmiy daraja</h5>
                              </div>
                              <div class="col-6 teacher-academic-title">
                                 {{ teacher_data.academicDegree }}
                              </div>
                           </div>
                           <hr>
                           <div class="row d-flex align-items-center">
                              <div class="col-6">
                                 <h5 class="teacher-academic-info"><span><img src="{% static 'dist/img/title.png' %}" alt=""></span>
                                    Ilmiy unvon</h5>
                              </div>
                              <div class="col-6 teacher-academic-title">
                                 {{ teacher_data.academicRank }}
                              </div>
                           </div>
                           <hr>
                           <div class="row d-flex align-items-center">
                              <div class="col-6">
                                 <h5 class="teacher-academic-info"><span><img src="{% static 'dist/img/languages.png' %}"
                                          alt=""></span> Til bilish darajasi</h5>
                              </div>
                              <div class="col-6 teacher-academic-title">
                                 Darajasiz
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-12 mb-3">
                        <a href="{% url 'teacher_add' teacher_data.id %}" class="btn btn-success w-100 h-50"><i class="fa-solid fa-pen-to-square"></i> Tahrirlash</a>
                  </div>
               </div>
               <div class="col-sm-12 col-mb-8 col-lg-8">
                  <div class="col-12 p-0">
                     <div class="card card-primary card-outline p-3 p-sm-0 bb-radius">
                        <div class="teacher-header">
                           <p class="teacher-title" style="border: none;">
                              O'qituvchi ma'lumotlari
                           </p>
                        </div>
                        <div class="row m-0">
                           <div class="col-sm-12 col-mb-12 col-lg-6 p-0">
                              <table class="table table-hover table-striped">
                                 <tbody class="teacher-table">
                                    <tr>
                                       <th>Familya:</th>
                                       <td>{{ teacher_data.second_name }}</td>
                                    </tr>
                                    <tr>
                                       <th>Ism:</th>
                                       <td>{{ teacher_data.first_name }}</td>
                                    </tr>
                                    <tr>
                                       <th>Otasining ismi:</th>
                                       <td>{{ teacher_data.third_name }}</td>
                                    </tr>
                                    <tr>
                                       <th>Jinsi:</th>
                                       <td>{{ teacher_data.gender}}</td>
                                    </tr>
                                    <tr>
                                       <th>Kafedra:</th>
                                       <td>{{ teacher_data.department }}</td>
                                    </tr>
                                 </tbody>
                              </table>
                           </div>
                           <div class="col-sm-12 col-mb-12 col-lg-6">
                              <table class="table table-hover table-striped">
                                 <tbody>
                                    <tr>
                                       <th>Bandlik:</th>
                                       <td>{{ teacher_data.employmentForm }}</td>
                                    </tr>
                                    <tr>
                                       <th>Bandlik stafkasi:</th>
                                       <td>{{ teacher_data.employmentStaff }}</td>
                                    </tr>
                                    <tr>
                                       <th>Lavozimi</th>
                                       <td>{{ teacher_data.staffPosition }}</td>
                                    </tr>
                                    <tr>
                                       <th>Status</th>
                                       <td>{{ teacher_data.employeeStatus }}</td>
                                    </tr>
                                    <tr>
                                       <th>Ishga kirgan yil</th>
                                       <td>{{ teacher_data.year_of_enter }}</td>
                                    </tr>
                                 </tbody>
                              </table>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-12 p-0">
                     <div class="card card-primary card-outline p-2 bb-radius">
                        <div class="row m-0">
                           <div class="col-12">
                              <table class="table table-hover ">
                                 <tbody class="teacher-table">
                                    <tr>
                                       <th>Xorijiy ilmiy-tadqiqot markazlari grantlarida ishtirok etish soni:</th>
                                       <td>0</td>
                                    </tr>
                                    <tr>
                                       <th>Davalt grantalri asosida ilmiy tadqiqotlarda ishtirok etish soni:</th>
                                       <td>0</td>
                                    </tr>
                                    <tr>
                                       <th>Sohalar buyurtmalar asosida ilmiy-tadqiqotlarga ishtirok e'tib topiladigan
                                          mablag' miqdori:</th>
                                       <td>0</td>
                                    </tr>
                                    <tr>
                                       <th>Horijiy hamkorlar bilan tayyorlanadigan o'quv adabiyotlari va maqolalar soni:
                                       </th>
                                       <td>0</td>
                                    </tr>
                                    <tr>
                                       <th>Xalqaro konferensiyalar, seminarlar, ilmiy yoki o'quv loyihalarida ishtirok
                                          etish soni (bevosita ishtirok etish):</th>
                                       <td>0</td>
                                    </tr>
                                    <tr>
                                       <th>Mutaxassislik bo'yicha xorijiy tilda o'qitadigan fanlar soni:</th>
                                       <td>0</td>
                                    </tr>
                                    <tr>
                                       <th>Mualliflik asosida tashkil etiladigan o'quv kursi va to'garaklar soni:</th>
                                       <td>0</td>
                                    </tr>
                                    <tr>
                                       <th>Umumiy shogirdalr soni:</th>
                                       <td>0</td>
                                    </tr>
                                 </tbody>
                              </table>
                           </div>
                        </div>
                     </div>
                  </div>

               </div>

            </div>
         </div>
{% endblock %}